mixin rich-checkbox(props)
  .checkbox-buttons__item.rich-checkbox 
    input(type="checkbox" placeholder=props.placeholderText class="checkbox-buttons__button rich-checkbox checkbox" id=props.id value=props.name name=props.id)
    label(for=props.id)= props.name
    .rich-checkbox__sub
      | #{props.subUpper}
      br
      | #{props.subLower}
