mixin rich-checkbox({ id, labelText, subUpper, subLower })
  .rich-checkbox 
    input.rich-checkbox__input(type="checkbox" id=id value=labelText name=id)
    label.rich-checkbox__label(for=id)= labelText
    .rich-checkbox__description
      .rich-checkbox__sub-upper= subUpper
      .rich-checkbox__sub-lower= subLower