mixin rich-checkbox({ placeholderText, id, name, subUpper, subLower })
  .rich-checkbox 
    input.rich-checkbox__input(type="checkbox" placeholder=placeholderText id=id value=name name=id)
    label.rich-checkbox__label(for=id)= name
    .rich-checkbox__sub
      .rich-checkbox__sub-upper= subUpper
      .rich-checkbox__sub-lower= subLower
