mixin rich-checkbox({ name, labelText, subUpper, subLower })
  label.rich-checkbox 
    input.rich-checkbox__input(type="checkbox" value=labelText name=name)
    span.rich-checkbox__text= labelText
    .rich-checkbox__description
      .rich-checkbox__sub-upper= subUpper
      .rich-checkbox__sub-lower= subLower