mixin rich-checkbox(props)
  .rich-checkbox 
    input.rich-checkbox__input(type="checkbox" placeholder=props.placeholderText id=props.id value=props.name name=props.id)
    label.rich-checkbox__label(for=props.id)= props.name
    .rich-checkbox__sub
      .rich-checkbox__sub-upper= props.subUpper
      .rich-checkbox__sub-lower= props.subLower
