mixin types-box()
  .types-box
    .types-box__item.types-box__item_type_h1
      span.types-box__type-title= 'h1'
      h1.types-box__desc= 'This one is the sub-section or widget title'
    .types-box__item.types-box__item_type_h2
      span.types-box__type-title= 'h2'
      h2.types-box__desc= 'Next one is the item title inside widgets'
    .types-box__item.types-box__item_type_h3
      span.types-box__type-title= 'h3'
      h3.types-box__desc= 'This is a label or CTA text'
    .types-box__item.types-box__item_type_body
      span.types-box__type-title= 'body'
      .types-box__desc= 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
