mixin toggle(props)
  .field-wrapper.toggle
    if (props.title)
      .field-wrapper__title= props.title
    .toggle__item
      input(type="checkbox" class="toggle__button" id=props.id value=props.id name=props.id)
      label(for=props.id class="toggle__label")= props.text