mixin checkbox(props)
  .checkbox
    input.checkbox__input(type="checkbox" placeholder=props.placeholderText id=props.id value=props.name name=props.id)
    label.checkbox__label(for=props.id)= props.name