mixin checkbox(props)
  .checkbox
    input(type="checkbox" placeholder=props.placeholderText class="checkbox__input" id=props.id value=props.name name=props.id)
    label(for=props.id class="checkbox__label")= props.name