mixin expandable-checkbox-list(props)
  -
    var radios = props.radios;

  .field-wrapper.expandable-checkbox-list
    .expandable-checkbox-list__wrapper-title
      .field-wrapper__title= props.title
      .field-wrapper__arrow.expandable-checkbox-list__arrow expand_more
    .checkbox-buttons__items
      each radio in radios
       .checkbox-buttons__item
          input(type="checkbox" placeholder=props.placeholderText class="checkbox-buttons__button" id=radio.id value=radio.name name=radio.id)
          label(for=radio.id)= radio.name

  