mixin toggle(props)
  .toggle
    if (props.title)
      .toggle__title= props.title
    .toggle__item
      input.toggle__button(type="checkbox" id=props.id value=props.id name=props.id)
      label.toggle__label(for=props.id)= props.text